<div class="jumbotron container-center" ng-show="!authentication.isAuth">
    <h1>Position karlstad</h1>
    <p>Projektsplanerings- och uppföljningsverktyg.</p>
    <p>
        <a href="#/login" class="btn btn-lg btn-success" role="button">
            <i class="fa fa-sign-in"></i> Logga in
        </a>
    </p>
</div>

<div class="well" ng-show="authentication.isAuth">
    <h2>Mina projekt</h2>
    <ul class="list-group" ng-repeat="repo in myrepos track by repo.id">
        <li class="list-group-item">
            <a href="#">{{repo.name}}</a>
        </li>
    </ul>
    <h2>Organisationer</h2>
    <ul class="list-group" ng-repeat="org in organizations track by org.id">
        <li class="list-group-item">
            <a href="#">
                <img ng-src="{{org.avatar}}" alt="avatar" class="img-rounded" style="height: 32px;"> {{org.name}}
            </a>
        </li>
    </ul>
</div>