<div class="well">
  <form class="form-horizontal" ng-submit="login()">
    <div class="form-group" ng-class="{ 'has-error': isinvalide}">
      <label for="username" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">Användarnamn</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="username" placeholder="GitHub användare" ng-model="username" autofocus>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': isinvalide}">
      <label for="password" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">Lösenord</label>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <input type="password" class="form-control" name="password" placeholder="Lösenord" ng-model="password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <button type="submit" class="btn btn-success">
            <i class="fa fa-sign-in"></i> Logga in
        </button>
      </div>
    </div>
  </form>
</div>